app/secret.js

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
node_modules/
bundle.js
bundle.js.map

# Ignore figaro
/disco_graph/config/application.yml
