app/secret.js

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
node_modules/
/public/javascripts/bundle.js.map

# Ignore api
DiscoGraph/discograph/routes/token.js
/discograph/routes/token.js
