body header h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  margin-left: 500px;
  /*margin: 0 auto;*/
}

.logo {
  margin: 0 auto;
  /*display: inline-block;*/
}

body {
  width: 100%;
}

.bar {
  display: inline-block;
  background: green;
  width: 20px;
}
